export DYNAMIC_RENDERING_API_KEY=API_Key_value_should_be_at_least_20_character
export DYNAMIC_RENDERING_API_URL=https://your-dynamic-rendering-api-url
export ACM_CERT_ARN=arn:aws:acm:us-east-1:xxxx
export DOMAIN_NAMES=your-domain,sub.your-domain
export S3_BUCKET_NAME=statick_website_bucket_name
